<div>
  <h3>User info</h3>
  <%= image_tag user.get_profile_image(100,100) %>
  <p>name   <%= user.name %></p>
  <p>introduction    <%= user.introduction %></p>
 
  <%= link_to edit_user_path(user), class: "btn btn-light" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>

</div>
