<div>
  <h3>User info</h3>
  <%= image_tag user.get_profile_image(100,100) %>
  <p>name   <%= user.name %></p>
　<p>introduction<%= user.self_introduction %></p>
  <% if user == current_user %>
  <%= link_to edit_user_path(user), class: "btn btn-light", method: :get do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  <% end %>
</div>
