<% books.each do |book| %>
  <div>
    <%= link_to image_tag(user.get_profile_image(100,100)), user_path(user) %>
    <%= link_to book.title, book_path(book.id) %>
    <%= book.body %>
  </div>
<% end %>

<%= link_to books_path(book.id) do %>
  <% end %>